.items{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 40px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.product{
    background-color: antiquewhite;
    height: 40vh;
    width: 30vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.productImg{
    width: 20vw;
    height: 20vh;
    border-radius: 20px;
}
.productName{
    text-align: center;
    font-size: 18px;
    flex: 1;
}
p{
    margin: 10px;
}
.options{
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
}
.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.numbers>input[type=text]{
    max-width: 30px;
}