.amountButton{
    background-color: #D4af37;
    border-radius: 20px;
    border: none;
    outline:none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 12px #D4af37;   
    transition: 200ms ease-in-out;
    font-family: "Handlee",cursive,monospace;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.numberInput{
    border: 1px solid #D4af37;
    border-radius: 20px;
    background-color: #D4af37;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.product{
    background-color: antiquewhite;
    height: 30vh;
    width: 40vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.productImg{
    width: 300px;
    height: 30vh;
    border-radius: 20px;
}
.details{
    flex: 1;
}
.productName{
    text-align: center;
    font-size: 18px;
    flex: 1;
}
p{
    margin: 10px;
}
.options{
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;
}
.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.numbers>input[type=text]{
    max-width: 30px;
}